.img-responsive {
    margin: 0 auto;
    background-size: cover;
}
.center {
    text-align: center;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
img.contain {
    max-width: 100%;
}
.app-showcase-image {
    box-shadow: 0px 0px 28px rgba(0,0,0,.4);
    -moz-box-shadow: 0px 0px 28px rgba(0,0,0,.4);
    -webkit-box-shadow: 0px 0px 28px rgba(0,0,0,.4);
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    height: 300px;
}
.app-showcase-text {
    display: table-cell;
    height: 300px;
    vertical-align: middle;
}
.showcase {
    line-height: 2em;
}