{% extends 'base.html' %} {% load staticfiles %} {% block main %}
<div class="row">
  <main class="col-md-12">
    <h1 class="page-title">果&汁</h1>
    <article class="post">
      <div class="entry-content clearfix">

        <p>果&汁致力于打造一个简单网上水果和果汁便利店，通过微信就可以方便的购买新鲜水果并且可以个性化定制营养果汁。</p>
        <p>我们承诺所有的水果都是新鲜，卫生，健康的，所有果汁均采用新鲜水果制作。</p>
        <div class="height-40px"></div>
        <h2 class="title text-center">Social</h2>
        <ul class="social">
          <li class="facebook"><a href="#"><span class="ion-social-facebook"></span></a></li>
          <li class="twitter"><a href="#"><span class="ion-social-twitter"></span></a></li>
          <li class="google-plus"><a href="#"><span class="ion-social-googleplus"></span></a></li>
          <li class="tumblr"><a href="#"><span class="ion-social-tumblr"></span></a></li>
        </ul>
      </div>
    </article>
  </main>
</div>
{% endblock main %}